####  Run this cell to set up and start your interactive session.

In [19]:
%idle_timeout 2880
%glue_version 4.0
%worker_type G.1X
%number_of_workers 5

import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

You are already connected to a glueetl session 298caa4e-c8e3-4bf4-b8c8-3f143e8a7750.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Current idle_timeout is 2880 minutes.
idle_timeout has been set to 2880 minutes.

You are already connected to a glueetl session 298caa4e-c8e3-4bf4-b8c8-3f143e8a7750.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Setting Glue version to: 4.0

You are already connected to a glueetl session 298caa4e-c8e3-4bf4-b8c8-3f143e8a7750.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Previous worker type: G.1X
Setting new worker type to: G.1X

You are already connected to a glueetl session 298caa4e-c8e3-4bf4-b8c8-3f143e8a7750.

No change will be made to the current session that is set as glueetl. The session configuration change will apply to newly created sessions.

Previous number of workers: 5
Setting new number of workers to: 5

#### Create a DynamicFrame from a table in the AWS Glue Data Catalog and display its schema

In [20]:
layoff_table = glueContext.create_dynamic_frame_from_options(connection_type= 's3',
                                                               connection_options={"paths":['s3://samplebucketawsreq/data/customersdb/customerfiles/dataload/layoffs.csv']},
                                                               format='csv', format_options = {"withHeader": True, "optimizePerformance": True})

#### editing with dynamic frame

In [21]:
#selecting company and location from dynamic dataframe
company_select=layoff_table.select_fields(["company","location"])

#to return the selected columns above
company_select.show()

{"company": "BigBear.ai", "location": "Baltimore"}
{"company": "Genome Medical", "location": "SF Bay Area"}
{"company": "Pomelo Fashion", "location": "Bangkok"}
{"company": "GoStudent", "location": "Vienna"}
{"company": "Lido Learning", "location": "Mumbai"}
{"company": "Flowhub", "location": "Denver"}
{"company": "DreamBox Learning", "location": "Seattle"}
{"company": "CommonBond", "location": "New York City"}
{"company": "Capiter", "location": "Cairo"}
{"company": "Amber Group", "location": "Hong Kong"}
{"company": "Patreon", "location": "SF Bay Area"}
{"company": "Brighte", "location": "Sydney"}
{"company": "SkipTheDishes", "location": "Winnipeg"}
{"company": "Sama", "location": "SF Bay Area"}
{"company": "Rent the Runway", "location": "New York City"}
{"company": "Karbon", "location": "SF Bay Area"}
{"company": "Compete", "location": "Tel Aviv"}
{"company": "Mode Analytics", "location": "SF Bay Area"}
{"company": "Quicko", "location": "Sao Paulo"}
{"company": "Propzy", "location": "Ho Chi Minh City"}

In [22]:
#selecting and showing in one line
layoff_table.select_fields(["company","location"]).show()

{"company": "BigBear.ai", "location": "Baltimore"}
{"company": "Genome Medical", "location": "SF Bay Area"}
{"company": "Pomelo Fashion", "location": "Bangkok"}
{"company": "GoStudent", "location": "Vienna"}
{"company": "Lido Learning", "location": "Mumbai"}
{"company": "Flowhub", "location": "Denver"}
{"company": "DreamBox Learning", "location": "Seattle"}
{"company": "CommonBond", "location": "New York City"}
{"company": "Capiter", "location": "Cairo"}
{"company": "Amber Group", "location": "Hong Kong"}
{"company": "Patreon", "location": "SF Bay Area"}
{"company": "Brighte", "location": "Sydney"}
{"company": "SkipTheDishes", "location": "Winnipeg"}
{"company": "Sama", "location": "SF Bay Area"}
{"company": "Rent the Runway", "location": "New York City"}
{"company": "Karbon", "location": "SF Bay Area"}
{"company": "Compete", "location": "Tel Aviv"}
{"company": "Mode Analytics", "location": "SF Bay Area"}
{"company": "Quicko", "location": "Sao Paulo"}
{"company": "Propzy", "location": "Ho Chi Minh City"}

In [23]:
#understanding the lambda function
dyfFilter=Filter.apply(
    frame=layoff_table,
    f=lambda x:x["country"] in "United States"
)

#showing the results
dyfFilter.show()

", "country": "United States", "total_laid_off": "NULL", "industry": "Data", "stage": "Post-IPO"}ai", "funds_raised_millions
", "country": "United States", "total_laid_off": "23", "industry": "Healthcare", "stage": "Series C"}ical", "funds_raised_millions
", "country": "United States", "total_laid_off": "NULL", "industry": "Retail", "stage": "Unknown"}unds_raised_millions
", "country": "United States", "total_laid_off": "NULL", "industry": "Education", "stage": "Acquired"}ng", "funds_raised_millions
", "country": "United States", "total_laid_off": "NULL", "industry": "Finance", "stage": "Series D"}", "funds_raised_millions
", "country": "United States", "total_laid_off": "5", "industry": "Media", "stage": "Series F"}eon", "funds_raised_millions
", "country": "United States", "total_laid_off": "NULL", "industry": "Data", "stage": "Series B"}, "funds_raised_millions
", "country": "United States", "total_laid_off": "NULL", "industry": "Retail", "stage": "Post-IPO"}the Runway", "funds_raised_millions
", "country": "United States", "total_laid_off": "NULL", "industry": "Other", "stage": "Series B"}", "funds_raised_millions
", "country": "United States", "total_laid_off": "25", "industry": "Data", "stage": "Series D"}e Analytics", "funds_raised_millions
", "country": "United States", "total_laid_off": "NULL", "industry": "Marketing", "stage": "Unknown"}funds_raised_millions
", "country": "United States", "total_laid_off": "80", "industry": "Media", "stage": "Series F"}eon", "funds_raised_millions
", "country": "United States", "total_laid_off": "100", "industry": "Marketing", "stage": "Post-IPO"}", "funds_raised_millions
", "country": "United States", "total_laid_off": "160", "industry": "Healthcare", "stage": "Post-IPO"}_raised_millions
", "country": "United States", "total_laid_off": "30", "industry": "Media", "stage": "Post-IPO"}lix", "funds_raised_millions
", "country": "United States", "total_laid_off": "800", "industry": "Other", "stage": "Post-IPO"}o", "funds_raised_millions
", "country": "United States", "total_laid_off": "NULL", "industry": "Marketing", "stage": "Unknown"}, "funds_raised_millions
", "country": "United States", "total_laid_off": "NULL", "industry": "Healthcare", "stage": "Series B"}unds_raised_millions
", "country": "United States", "total_laid_off": "35", "industry": "HR", "stage": "Series C"}rkRamp", "funds_raised_millions
", "country": "United States", "total_laid_off": "193", "industry": "Support", "stage": "Post-IPO"}erson", "funds_raised_millions

#### Convert the DynamicFrame to a Spark DataFrame and display a sample of the data

In [24]:
layoff_table.printSchema()
layoff_table_spark=layoff_table.toDF()
layoff_table_spark.show()

root
|-- company: string
|-- location: string
|-- industry: string
|-- total_laid_off: string
|-- percentage_laid_off: string
|-- date: string
|-- stage: string
|-- country: string
: strings_raised_millions

+-----------------+----------------+--------------+--------------+-------------------+---------+--------+-------------+-----------------------+
|          company|        location|      industry|total_laid_off|percentage_laid_off|     date|   stage|      country|funds_raised_millions\r|
+-----------------+----------------+--------------+--------------+-------------------+---------+--------+-------------+-----------------------+
|       BigBear.ai|       Baltimore|          Data|          NULL|               0.07| 9/8/2022|Post-IPO|United States|                  200\r|
|   Genome Medical|     SF Bay Area|    Healthcare|            23|               NULL| 9/8/2022|Series C|United States|                  120\r|
|   Pomelo Fashion|         Bangkok|        Retail|            55|               0.08| 9/8/2022| Unknown|     Thailand|                  120\r|
|        GoStudent|          Vienna|     Education|           200|               NULL| 9/8/2022|Series D|      Austria|                  686\r|
|    Lido Learning|          Mumbai|     Education|          NULL|                  1| 9/9/2022|Series C|        India|                   20\r|
|          Flowhub|          Denver|        Retail|          NULL|               0.15| 9/9/2022| Unknown|United States|                   45\r|
|DreamBox Learning|         Seattle|     Education|          NULL|               NULL| 9/9/2022|Acquired|United States|                  175\r|
|       CommonBond|   New York City|       Finance|          NULL|                  1| 9/9/2022|Series D|United States|                  125\r|
|          Capiter|           Cairo|       Finance|          NULL|               NULL| 9/9/2022|Series A|        Egypt|                   33\r|
|      Amber Group|       Hong Kong|        Crypto|          NULL|                0.1| 9/9/2022|Series B|    Hong Kong|                  328\r|
|          Patreon|     SF Bay Area|         Media|             5|               NULL| 9/9/2022|Series F|United States|                  413\r|
|          Brighte|          Sydney|        Energy|            58|               NULL| 9/9/2022|Series C|    Australia|                  145\r|
|    SkipTheDishes|        Winnipeg|          Food|           350|               NULL| 9/9/2022|Acquired|       Canada|                    6\r|
|             Sama|     SF Bay Area|          Data|          NULL|               NULL|9/12/2022|Series B|United States|                   84\r|
|  Rent the Runway|   New York City|        Retail|          NULL|               0.24|9/12/2022|Post-IPO|United States|                  526\r|
|           Karbon|     SF Bay Area|         Other|          NULL|               0.23|9/12/2022|Series B|United States|                   91\r|
|          Compete|        Tel Aviv|            HR|            11|               0.28|9/12/2022|Series A|       Israel|                   17\r|
|   Mode Analytics|     SF Bay Area|          Data|            25|               NULL|9/12/2022|Series D|United States|                   81\r|
|           Quicko|       Sao Paulo|Transportation|            60|               NULL|9/12/2022|Acquired|       Brazil|                   28\r|
|           Propzy|Ho Chi Minh City|   Real Estate|          NULL|                  1|9/13/2022|Series A|      Vietnam|                   33\r|
+-----------------+----------------+--------------+--------------+-------------------+---------+--------+-------------+-----------------------+
only showing top 20 rows

In [25]:
# List all columns to verify their names
layoff_table_spark.columns

['company', 'location', 'industry', 'total_laid_off', 'percentage_laid_off', 'date', 'stage', 'country', 'funds_raised_millions\r']

In [26]:
#count the dynamic frames
layoff_table.count()

2361

In [27]:
layoff_table_spark.printSchema()

root
 |-- company: string (nullable = true)
 |-- location: string (nullable = true)
 |-- industry: string (nullable = true)
 |-- total_laid_off: string (nullable = true)
 |-- percentage_laid_off: string (nullable = true)
 |-- date: string (nullable = true)
 |-- stage: string (nullable = true)
 |-- country: string (nullable = true)
 |-- funds_raised_millions\r: string (nullable = true)

#### editing the column funds_raised_millions

In [28]:
from pyspark.sql.functions import regexp_replace, col

In [30]:
# Remove carriage return characters from the 'funds_raised_millions' column
layoff_table_spark = layoff_table_spark.withColumn(
    "funds_raised_millions",
    regexp_replace(col("funds_raised_millions\r"), "\r", "")
)

# Show the DataFrame after removing the carriage return characters
layoff_table_spark.show()

+-----------------+----------------+--------------+--------------+-------------------+---------+--------+-------------+-----------------------+---------------------+
|          company|        location|      industry|total_laid_off|percentage_laid_off|     date|   stage|      country|funds_raised_millions\r|funds_raised_millions|
+-----------------+----------------+--------------+--------------+-------------------+---------+--------+-------------+-----------------------+---------------------+
|       BigBear.ai|       Baltimore|          Data|          NULL|               0.07| 9/8/2022|Post-IPO|United States|                    200|                  200|
|   Genome Medical|     SF Bay Area|    Healthcare|            23|               NULL| 9/8/2022|Series C|United States|                    120|                  120|
|   Pomelo Fashion|         Bangkok|        Retail|            55|               0.08| 9/8/2022| Unknown|     Thailand|                    120|                  120|
|        GoStudent|          Vienna|     Education|           200|               NULL| 9/8/2022|Series D|      Austria|                    686|                  686|
|    Lido Learning|          Mumbai|     Education|          NULL|                  1| 9/9/2022|Series C|        India|                     20|                   20|
|          Flowhub|          Denver|        Retail|          NULL|               0.15| 9/9/2022| Unknown|United States|                     45|                   45|
|DreamBox Learning|         Seattle|     Education|          NULL|               NULL| 9/9/2022|Acquired|United States|                    175|                  175|
|       CommonBond|   New York City|       Finance|          NULL|                  1| 9/9/2022|Series D|United States|                    125|                  125|
|          Capiter|           Cairo|       Finance|          NULL|               NULL| 9/9/2022|Series A|        Egypt|                     33|                   33|
|      Amber Group|       Hong Kong|        Crypto|          NULL|                0.1| 9/9/2022|Series B|    Hong Kong|                    328|                  328|
|          Patreon|     SF Bay Area|         Media|             5|               NULL| 9/9/2022|Series F|United States|                    413|                  413|
|          Brighte|          Sydney|        Energy|            58|               NULL| 9/9/2022|Series C|    Australia|                    145|                  145|
|    SkipTheDishes|        Winnipeg|          Food|           350|               NULL| 9/9/2022|Acquired|       Canada|                      6|                    6|
|             Sama|     SF Bay Area|          Data|          NULL|               NULL|9/12/2022|Series B|United States|                     84|                   84|
|  Rent the Runway|   New York City|        Retail|          NULL|               0.24|9/12/2022|Post-IPO|United States|                    526|                  526|
|           Karbon|     SF Bay Area|         Other|          NULL|               0.23|9/12/2022|Series B|United States|                     91|                   91|
|          Compete|        Tel Aviv|            HR|            11|               0.28|9/12/2022|Series A|       Israel|                     17|                   17|
|   Mode Analytics|     SF Bay Area|          Data|            25|               NULL|9/12/2022|Series D|United States|                     81|                   81|
|           Quicko|       Sao Paulo|Transportation|            60|               NULL|9/12/2022|Acquired|       Brazil|                     28|                   28|
|           Propzy|Ho Chi Minh City|   Real Estate|          NULL|                  1|9/13/2022|Series A|      Vietnam|                     33|                   33|
+-----------------+----------------+--------------+--------------+-------------------+---------+--------+-------------+-----------------------+---------------------+
only showing top 20 rows

In [31]:
layoff_table_spark.columns

['company', 'location', 'industry', 'total_laid_off', 'percentage_laid_off', 'date', 'stage', 'country', 'funds_raised_millions\r', 'funds_raised_millions']

In [32]:
layoff_table_spark=layoff_table_spark.drop("funds_raised_millions\r")
layoff_table_spark.show()

+-----------------+----------------+--------------+--------------+-------------------+---------+--------+-------------+---------------------+
|          company|        location|      industry|total_laid_off|percentage_laid_off|     date|   stage|      country|funds_raised_millions|
+-----------------+----------------+--------------+--------------+-------------------+---------+--------+-------------+---------------------+
|       BigBear.ai|       Baltimore|          Data|          NULL|               0.07| 9/8/2022|Post-IPO|United States|                  200|
|   Genome Medical|     SF Bay Area|    Healthcare|            23|               NULL| 9/8/2022|Series C|United States|                  120|
|   Pomelo Fashion|         Bangkok|        Retail|            55|               0.08| 9/8/2022| Unknown|     Thailand|                  120|
|        GoStudent|          Vienna|     Education|           200|               NULL| 9/8/2022|Series D|      Austria|                  686|
|    Lido Learning|          Mumbai|     Education|          NULL|                  1| 9/9/2022|Series C|        India|                   20|
|          Flowhub|          Denver|        Retail|          NULL|               0.15| 9/9/2022| Unknown|United States|                   45|
|DreamBox Learning|         Seattle|     Education|          NULL|               NULL| 9/9/2022|Acquired|United States|                  175|
|       CommonBond|   New York City|       Finance|          NULL|                  1| 9/9/2022|Series D|United States|                  125|
|          Capiter|           Cairo|       Finance|          NULL|               NULL| 9/9/2022|Series A|        Egypt|                   33|
|      Amber Group|       Hong Kong|        Crypto|          NULL|                0.1| 9/9/2022|Series B|    Hong Kong|                  328|
|          Patreon|     SF Bay Area|         Media|             5|               NULL| 9/9/2022|Series F|United States|                  413|
|          Brighte|          Sydney|        Energy|            58|               NULL| 9/9/2022|Series C|    Australia|                  145|
|    SkipTheDishes|        Winnipeg|          Food|           350|               NULL| 9/9/2022|Acquired|       Canada|                    6|
|             Sama|     SF Bay Area|          Data|          NULL|               NULL|9/12/2022|Series B|United States|                   84|
|  Rent the Runway|   New York City|        Retail|          NULL|               0.24|9/12/2022|Post-IPO|United States|                  526|
|           Karbon|     SF Bay Area|         Other|          NULL|               0.23|9/12/2022|Series B|United States|                   91|
|          Compete|        Tel Aviv|            HR|            11|               0.28|9/12/2022|Series A|       Israel|                   17|
|   Mode Analytics|     SF Bay Area|          Data|            25|               NULL|9/12/2022|Series D|United States|                   81|
|           Quicko|       Sao Paulo|Transportation|            60|               NULL|9/12/2022|Acquired|       Brazil|                   28|
|           Propzy|Ho Chi Minh City|   Real Estate|          NULL|                  1|9/13/2022|Series A|      Vietnam|                   33|
+-----------------+----------------+--------------+--------------+-------------------+---------+--------+-------------+---------------------+
only showing top 20 rows

In [33]:
layoff_table_spark.where(layoff_table_spark["funds_raised_millions"] == "NULL").count()

209

In [35]:
from pyspark.sql.functions import when

In [36]:
#assuming all the null values to be 0 and converting them to 0
layoff_table_spark = layoff_table_spark.withColumn(
    "funds_raised_millions", when(col("funds_raised_millions") == "NULL", "0").otherwise(col("funds_raised_millions")))

In [37]:
layoff_table_spark.where(layoff_table_spark["funds_raised_millions"] == "NULL").count()

0

#### knowing different functions

In [38]:
#selecting column in spark dataframe
dfSelect=layoff_table_spark.select("company","location")

# show selected
dfSelect.show()

+-----------------+----------------+
|          company|        location|
+-----------------+----------------+
|       BigBear.ai|       Baltimore|
|   Genome Medical|     SF Bay Area|
|   Pomelo Fashion|         Bangkok|
|        GoStudent|          Vienna|
|    Lido Learning|          Mumbai|
|          Flowhub|          Denver|
|DreamBox Learning|         Seattle|
|       CommonBond|   New York City|
|          Capiter|           Cairo|
|      Amber Group|       Hong Kong|
|          Patreon|     SF Bay Area|
|          Brighte|          Sydney|
|    SkipTheDishes|        Winnipeg|
|             Sama|     SF Bay Area|
|  Rent the Runway|   New York City|
|           Karbon|     SF Bay Area|
|          Compete|        Tel Aviv|
|   Mode Analytics|     SF Bay Area|
|           Quicko|       Sao Paulo|
|           Propzy|Ho Chi Minh City|
+-----------------+----------------+
only showing top 20 rows

In [39]:
layoff_table_spark=layoff_table_spark.withColumnRenamed("company","company_name")

In [40]:
#import lit from sql functions 
from  pyspark.sql.functions import lit

#add a column in spark dataframe with a literal string
layoff_table_spark.withColumn("date_decided", lit("2022-07-24")).show()

+-----------------+----------------+--------------+--------------+-------------------+---------+--------+-------------+---------------------+------------+
|     company_name|        location|      industry|total_laid_off|percentage_laid_off|     date|   stage|      country|funds_raised_millions|date_decided|
+-----------------+----------------+--------------+--------------+-------------------+---------+--------+-------------+---------------------+------------+
|       BigBear.ai|       Baltimore|          Data|          NULL|               0.07| 9/8/2022|Post-IPO|United States|                  200|  2022-07-24|
|   Genome Medical|     SF Bay Area|    Healthcare|            23|               NULL| 9/8/2022|Series C|United States|                  120|  2022-07-24|
|   Pomelo Fashion|         Bangkok|        Retail|            55|               0.08| 9/8/2022| Unknown|     Thailand|                  120|  2022-07-24|
|        GoStudent|          Vienna|     Education|           200|               NULL| 9/8/2022|Series D|      Austria|                  686|  2022-07-24|
|    Lido Learning|          Mumbai|     Education|          NULL|                  1| 9/9/2022|Series C|        India|                   20|  2022-07-24|
|          Flowhub|          Denver|        Retail|          NULL|               0.15| 9/9/2022| Unknown|United States|                   45|  2022-07-24|
|DreamBox Learning|         Seattle|     Education|          NULL|               NULL| 9/9/2022|Acquired|United States|                  175|  2022-07-24|
|       CommonBond|   New York City|       Finance|          NULL|                  1| 9/9/2022|Series D|United States|                  125|  2022-07-24|
|          Capiter|           Cairo|       Finance|          NULL|               NULL| 9/9/2022|Series A|        Egypt|                   33|  2022-07-24|
|      Amber Group|       Hong Kong|        Crypto|          NULL|                0.1| 9/9/2022|Series B|    Hong Kong|                  328|  2022-07-24|
|          Patreon|     SF Bay Area|         Media|             5|               NULL| 9/9/2022|Series F|United States|                  413|  2022-07-24|
|          Brighte|          Sydney|        Energy|            58|               NULL| 9/9/2022|Series C|    Australia|                  145|  2022-07-24|
|    SkipTheDishes|        Winnipeg|          Food|           350|               NULL| 9/9/2022|Acquired|       Canada|                    6|  2022-07-24|
|             Sama|     SF Bay Area|          Data|          NULL|               NULL|9/12/2022|Series B|United States|                   84|  2022-07-24|
|  Rent the Runway|   New York City|        Retail|          NULL|               0.24|9/12/2022|Post-IPO|United States|                  526|  2022-07-24|
|           Karbon|     SF Bay Area|         Other|          NULL|               0.23|9/12/2022|Series B|United States|                   91|  2022-07-24|
|          Compete|        Tel Aviv|            HR|            11|               0.28|9/12/2022|Series A|       Israel|                   17|  2022-07-24|
|   Mode Analytics|     SF Bay Area|          Data|            25|               NULL|9/12/2022|Series D|United States|                   81|  2022-07-24|
|           Quicko|       Sao Paulo|Transportation|            60|               NULL|9/12/2022|Acquired|       Brazil|                   28|  2022-07-24|
|           Propzy|Ho Chi Minh City|   Real Estate|          NULL|                  1|9/13/2022|Series A|      Vietnam|                   33|  2022-07-24|
+-----------------+----------------+--------------+--------------+-------------------+---------+--------+-------------+---------------------+------------+
only showing top 20 rows

In [41]:
from pyspark.sql.functions import collect_list

In [43]:
grouped_df = layoff_table_spark.groupBy("location").agg(collect_list("company_name").alias("companies"))
grouped_df.show(100)

+----------------+--------------------+
|        location|           companies|
+----------------+--------------------+
|           Accra|             [Viamo]|
|       Ahmedabad|       [Lendingkart]|
|          Albany|       [CommerceHub]|
|       Amsterdam|[Uber, Booking.co...|
|       Ann Arbor|   [Merative, Clinc]|
|          Athens|              [Beat]|
|         Atlanta|[Salesloft, Secur...|
|        Auckland| [Laybuy, First AML]|
|          Austin|[Dell, Sana Benef...|
|       Baltimore|[BigBear.ai, Sale...|
|         Bangkok|    [Pomelo Fashion]|
|       Barcelona|[Typeform, Wallbo...|
|     Baton Rouge|   [Electronic Arts]|
|     Beau Vallon|   [Octopus Network]|
|         Beijing|[Ziroom, Huobi, M...|
|  Belo Horizonte|[MaxMilhas, Rock ...|
|            Bend|[Dutchie, Lora Di...|
|       Bengaluru|[Byju's, WeTrade,...|
|          Berlin|[Zalando, OneFoot...|
|      Birmingham|  [Landing, Landing]|
|        Bismarck|        [CoSchedule]|
|        Blumenau|[Ambev Tech, Movi...|
|          Bogota|[Addi, Hunty, Fru...|
|           Boise|[Tackle, Trucksto...|
|          Boston|[Desktop Metal, K...|
|         Boulder|[Automox, Outside...|
|        Brasilia|        [Afterverse]|
|        Brisbane|[Superloop, Zepto...|
|         Bristol|[Immersive Labs, ...|
|        Brussels|          [Collibra]|
|       Bucharest|         [Foodpanda]|
|        Budapest|           [Bitrise]|
|    Buenos Aires|[Buenbit, Tiendan...|
|      Burlington|             [Polly]|
|           Cairo|     [Capiter, SWVL]|
|         Calgary|[Goodfood, Symend...|
|       Cape Town|              [Yoco]|
|      Charleston|         [Blackbaud]|
|       Charlotte|[Passport, Lendin...|
|         Chennai|[Fipola, PickYour...|
|         Chicago|[Amount, Thoughtw...|
|      Cincinnati|[Coterie Insuranc...|
|         Coimbra|           [Feedzai]|
|        Columbus|[Beam Benefits, O...|
|      Copenhagen|[Airtame, Simple ...|
|            Cork|          [Teamwork]|
|        Curitiba|[Ebanx, Olist, Eb...|
|           Dakar|              [Wave]|
|          Dallas|[OYO, Bestow, Sly...|
|       Davenport|         [divvyDOSE]|
|          Denver|[Palantir, Blupri...|
|         Detroit|[Rivian, StockX, ...|
|           Dover|          [Lokalise]|
|           Dubai|[Careem, Awok, SW...|
|          Dublin|[LearnUpon, Clear...|
|          Durham|            [Adwerx]|
|      Dusseldorf|           [Trivago]|
|      Düsseldorf|        [Springlane]|
|       Edinburgh|        [Skyscanner]|
|       Eindhoven|         [SendCloud]|
|    Fayetteville|  [Engine eCommerce]|
|     Ferdericton|         [Introhive]|
|   Florianópolis|          [Involves]|
|       Frankfurt|       [Software AG]|
|      Gothenburg|              [Juni]|
|    Grand Rapids|[Booking.com, Lan...|
|     Guadalajara|     [Kueski, Plerk]|
|        Gurugram|[Zomato, CarDekho...|
|         Hamburg|[Finleap Connect,...|
|           Hanoi|             [WeFit]|
|        Helsinki|[Swappie, Aiven, ...|
|Ho Chi Minh City|    [Propzy, Propzy]|
|       Hong Kong|[Oriente, Bullish...|
|         Houston|          [Liongard]|
|      Huntsville|       [CommentSold]|
|       Hyderabad|       [Practically]|
|          Ibadan|    [Alerzo, Alerzo]|
|    Indianapolis|             [Woven]|
|          Indore|        [Gramophone]|
|        Istanbul|             [Getir]|
|         Jakarta|[Moladin, Stoqo, ...|
|     Jersey City|       [DriveWealth]|
|       Jerusalem| [Lightricks, OrCam]|
|       Joinville| [Mercos, ContaAzul]|
|     Kansas City|              [C2FO]|
|         Karachi|       [Truck It In]|
|       Karlsruhe|[Chrono24, Chrono24]|
|            Kiel|            [Gitpod]|
|          Krakow|           [Brainly]|
|    Kuala Lumpur|[iPrice Group, If...|
|           Lagos|[Bolt, Renmoney, ...|
|          Lahore|  [Airlift, Airlift]|
|       Las Vegas|[NS8, Monzo, Zapp...|
|            Lehi|[Owlet, MX, Ocavu...|
|       Lexington|[Rubicon Technolo...|
|            Lima|           [Crehana]|
|          Lisbon|   [Monese, Unbabel]|
|           Logan|  [iFit, iFit, iFit]|
|          London|[Snowplow, Delive...|
|     Los Angeles|[VinFast US, Reli...|
+----------------+--------------------+
only showing top 100 rows

In [44]:
from pyspark.sql.functions import trim, col, when
#Düsseldorf is entered with two different names, hence we correct it
layoff_table_spark = layoff_table_spark.withColumn(
    "location", when(col("location") == "Dusseldorf", "Düsseldorf").otherwise(col("location")))

In [46]:
grouped_df = layoff_table_spark.groupBy("location").agg(collect_list("company_name").alias("companies"))
grouped_df.show(100)

+----------------+--------------------+
|        location|           companies|
+----------------+--------------------+
|           Accra|             [Viamo]|
|       Ahmedabad|       [Lendingkart]|
|          Albany|       [CommerceHub]|
|       Amsterdam|[Uber, Booking.co...|
|       Ann Arbor|   [Merative, Clinc]|
|          Athens|              [Beat]|
|         Atlanta|[Salesloft, Secur...|
|        Auckland| [Laybuy, First AML]|
|          Austin|[Dell, Sana Benef...|
|       Baltimore|[BigBear.ai, Sale...|
|         Bangkok|    [Pomelo Fashion]|
|       Barcelona|[Typeform, Wallbo...|
|     Baton Rouge|   [Electronic Arts]|
|     Beau Vallon|   [Octopus Network]|
|         Beijing|[Ziroom, Huobi, M...|
|  Belo Horizonte|[MaxMilhas, Rock ...|
|            Bend|[Dutchie, Lora Di...|
|       Bengaluru|[Byju's, WeTrade,...|
|          Berlin|[Zalando, OneFoot...|
|      Birmingham|  [Landing, Landing]|
|        Bismarck|        [CoSchedule]|
|        Blumenau|[Ambev Tech, Movi...|
|          Bogota|[Addi, Hunty, Fru...|
|           Boise|[Tackle, Trucksto...|
|          Boston|[Desktop Metal, K...|
|         Boulder|[Automox, Outside...|
|        Brasilia|        [Afterverse]|
|        Brisbane|[Superloop, Zepto...|
|         Bristol|[Immersive Labs, ...|
|        Brussels|          [Collibra]|
|       Bucharest|         [Foodpanda]|
|        Budapest|           [Bitrise]|
|    Buenos Aires|[Buenbit, Tiendan...|
|      Burlington|             [Polly]|
|           Cairo|     [Capiter, SWVL]|
|         Calgary|[Goodfood, Symend...|
|       Cape Town|              [Yoco]|
|      Charleston|         [Blackbaud]|
|       Charlotte|[Passport, Lendin...|
|         Chennai|[Fipola, PickYour...|
|         Chicago|[Amount, Thoughtw...|
|      Cincinnati|[Coterie Insuranc...|
|         Coimbra|           [Feedzai]|
|        Columbus|[Beam Benefits, O...|
|      Copenhagen|[Airtame, Simple ...|
|            Cork|          [Teamwork]|
|        Curitiba|[Ebanx, Olist, Eb...|
|           Dakar|              [Wave]|
|          Dallas|[OYO, Bestow, Sly...|
|       Davenport|         [divvyDOSE]|
|          Denver|[Palantir, Blupri...|
|         Detroit|[Rivian, StockX, ...|
|           Dover|          [Lokalise]|
|           Dubai|[Careem, Awok, SW...|
|          Dublin|[LearnUpon, Clear...|
|          Durham|            [Adwerx]|
|      Düsseldorf|[Trivago, Springl...|
|       Edinburgh|        [Skyscanner]|
|       Eindhoven|         [SendCloud]|
|    Fayetteville|  [Engine eCommerce]|
|     Ferdericton|         [Introhive]|
|   Florianópolis|          [Involves]|
|       Frankfurt|       [Software AG]|
|      Gothenburg|              [Juni]|
|    Grand Rapids|[Booking.com, Lan...|
|     Guadalajara|     [Kueski, Plerk]|
|        Gurugram|[Zomato, CarDekho...|
|         Hamburg|[Finleap Connect,...|
|           Hanoi|             [WeFit]|
|        Helsinki|[Swappie, Aiven, ...|
|Ho Chi Minh City|    [Propzy, Propzy]|
|       Hong Kong|[Oriente, Bullish...|
|         Houston|          [Liongard]|
|      Huntsville|       [CommentSold]|
|       Hyderabad|       [Practically]|
|          Ibadan|    [Alerzo, Alerzo]|
|    Indianapolis|             [Woven]|
|          Indore|        [Gramophone]|
|        Istanbul|             [Getir]|
|         Jakarta|[Moladin, Stoqo, ...|
|     Jersey City|       [DriveWealth]|
|       Jerusalem| [Lightricks, OrCam]|
|       Joinville| [Mercos, ContaAzul]|
|     Kansas City|              [C2FO]|
|         Karachi|       [Truck It In]|
|       Karlsruhe|[Chrono24, Chrono24]|
|            Kiel|            [Gitpod]|
|          Krakow|           [Brainly]|
|    Kuala Lumpur|[iPrice Group, If...|
|           Lagos|[Bolt, Renmoney, ...|
|          Lahore|  [Airlift, Airlift]|
|       Las Vegas|[NS8, Monzo, Zapp...|
|            Lehi|[Owlet, MX, Ocavu...|
|       Lexington|[Rubicon Technolo...|
|            Lima|           [Crehana]|
|          Lisbon|   [Monese, Unbabel]|
|           Logan|  [iFit, iFit, iFit]|
|          London|[Snowplow, Delive...|
|     Los Angeles|[VinFast US, Reli...|
|      Louisville|     [Bamboo Health]|
+----------------+--------------------+
only showing top 100 rows

In [47]:
layoff_table_spark.where(layoff_table_spark["company_name"] == "iFit").show()

+------------+--------+--------+--------------+-------------------+----------+--------------+-------------+---------------------+
|company_name|location|industry|total_laid_off|percentage_laid_off|      date|         stage|      country|funds_raised_millions|
+------------+--------+--------+--------------+-------------------+----------+--------------+-------------+---------------------+
|        iFit|   Logan| Fitness|           300|                0.2|11/14/2022|Private Equity|United States|                  200|
|        iFit|   Logan| Fitness|          NULL|               NULL| 12/8/2021|Private Equity|United States|                  200|
|        iFit|   Logan| Fitness|          NULL|               NULL| 2/25/2022|Private Equity|United States|                  200|
+------------+--------+--------+--------------+-------------------+----------+--------------+-------------+---------------------+

In [48]:
from pyspark.sql.functions import col

In [49]:
# Filter out rows where 'company_name' is 'iFit' and 'total_laid_off' is 'NULL'
layoff_table_spark = layoff_table_spark.filter(
    ~((col("company_name") == "iFit") & (col("total_laid_off")=="NULL"))
)

In [50]:
layoff_table_spark.where(layoff_table_spark["company_name"] == "iFit").show()

+------------+--------+--------+--------------+-------------------+----------+--------------+-------------+---------------------+
|company_name|location|industry|total_laid_off|percentage_laid_off|      date|         stage|      country|funds_raised_millions|
+------------+--------+--------+--------------+-------------------+----------+--------------+-------------+---------------------+
|        iFit|   Logan| Fitness|           300|                0.2|11/14/2022|Private Equity|United States|                  200|
+------------+--------+--------+--------------+-------------------+----------+--------------+-------------+---------------------+

In [51]:
layoff_table_spark.where(layoff_table_spark["company_name"] == "Airlift").show()

+------------+--------+---------+--------------+-------------------+---------+--------+--------+---------------------+
|company_name|location| industry|total_laid_off|percentage_laid_off|     date|   stage| country|funds_raised_millions|
+------------+--------+---------+--------------+-------------------+---------+--------+--------+---------------------+
|     Airlift|  Lahore|Logistics|          NULL|               0.31|5/25/2022|Series B|Pakistan|                  109|
|     Airlift|  Lahore|Logistics|          NULL|                  1|7/12/2022|Series B|Pakistan|                  109|
+------------+--------+---------+--------------+-------------------+---------+--------+--------+---------------------+

In [52]:
layoff_table_spark = layoff_table_spark.filter(
    ~((col("company_name") == "Airlift") & (col("percentage_laid_off")=="0.31"))
)

In [53]:
layoff_table_spark.show()

+-----------------+----------------+--------------+--------------+-------------------+---------+--------+-------------+---------------------+
|     company_name|        location|      industry|total_laid_off|percentage_laid_off|     date|   stage|      country|funds_raised_millions|
+-----------------+----------------+--------------+--------------+-------------------+---------+--------+-------------+---------------------+
|       BigBear.ai|       Baltimore|          Data|          NULL|               0.07| 9/8/2022|Post-IPO|United States|                  200|
|   Genome Medical|     SF Bay Area|    Healthcare|            23|               NULL| 9/8/2022|Series C|United States|                  120|
|   Pomelo Fashion|         Bangkok|        Retail|            55|               0.08| 9/8/2022| Unknown|     Thailand|                  120|
|        GoStudent|          Vienna|     Education|           200|               NULL| 9/8/2022|Series D|      Austria|                  686|
|    Lido Learning|          Mumbai|     Education|          NULL|                  1| 9/9/2022|Series C|        India|                   20|
|          Flowhub|          Denver|        Retail|          NULL|               0.15| 9/9/2022| Unknown|United States|                   45|
|DreamBox Learning|         Seattle|     Education|          NULL|               NULL| 9/9/2022|Acquired|United States|                  175|
|       CommonBond|   New York City|       Finance|          NULL|                  1| 9/9/2022|Series D|United States|                  125|
|          Capiter|           Cairo|       Finance|          NULL|               NULL| 9/9/2022|Series A|        Egypt|                   33|
|      Amber Group|       Hong Kong|        Crypto|          NULL|                0.1| 9/9/2022|Series B|    Hong Kong|                  328|
|          Patreon|     SF Bay Area|         Media|             5|               NULL| 9/9/2022|Series F|United States|                  413|
|          Brighte|          Sydney|        Energy|            58|               NULL| 9/9/2022|Series C|    Australia|                  145|
|    SkipTheDishes|        Winnipeg|          Food|           350|               NULL| 9/9/2022|Acquired|       Canada|                    6|
|             Sama|     SF Bay Area|          Data|          NULL|               NULL|9/12/2022|Series B|United States|                   84|
|  Rent the Runway|   New York City|        Retail|          NULL|               0.24|9/12/2022|Post-IPO|United States|                  526|
|           Karbon|     SF Bay Area|         Other|          NULL|               0.23|9/12/2022|Series B|United States|                   91|
|          Compete|        Tel Aviv|            HR|            11|               0.28|9/12/2022|Series A|       Israel|                   17|
|   Mode Analytics|     SF Bay Area|          Data|            25|               NULL|9/12/2022|Series D|United States|                   81|
|           Quicko|       Sao Paulo|Transportation|            60|               NULL|9/12/2022|Acquired|       Brazil|                   28|
|           Propzy|Ho Chi Minh City|   Real Estate|          NULL|                  1|9/13/2022|Series A|      Vietnam|                   33|
+-----------------+----------------+--------------+--------------+-------------------+---------+--------+-------------+---------------------+
only showing top 20 rows

#### changing empty values to null in industry

In [54]:
# Group by lastname then print counts of industries and show
layoff_table_spark.groupBy("industry").count().show(50)

+---------------+-----+
|       industry|count|
+---------------+-----+
|         Energy|   12|
| Infrastructure|   43|
|          Legal|   13|
|           Data|   79|
|        Support|   43|
|         Crypto|   99|
|    Real Estate|  117|
|          Other|  129|
|        Fitness|   29|
| Transportation|  148|
|          Sales|   37|
|         Retail|  195|
|       Fin-Tech|    3|
|      Education|   93|
|         Travel|   66|
|           NULL|    1|
|     Healthcare|  183|
|        Finance|  284|
|          Media|   95|
|           Food|  141|
|             HR|   66|
|      Marketing|  139|
|       Hardware|   17|
|   Construction|   16|
|        Product|   35|
|     Recruiting|   28|
|  Manufacturing|    2|
|      Logistics|   41|
|               |    3|
|Crypto Currency|    2|
|       Consumer|  118|
| CryptoCurrency|    1|
|       Security|   74|
|      Aerospace|    6|
+---------------+-----+

In [55]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.types import *
SparkSession=SparkSession.builder.getOrCreate()
layoff_table_spark = layoff_table_spark.withColumn("industry", when(col("industry") == "", "NULL").otherwise(col("industry")))

In [56]:
layoff_table_spark.groupBy("industry").count().show(50)

+---------------+-----+
|       industry|count|
+---------------+-----+
|         Energy|   12|
| Infrastructure|   43|
|          Legal|   13|
|           Data|   79|
|        Support|   43|
|         Crypto|   99|
|    Real Estate|  117|
|          Other|  129|
|        Fitness|   29|
| Transportation|  148|
|          Sales|   37|
|         Retail|  195|
|       Fin-Tech|    3|
|      Education|   93|
|         Travel|   66|
|           NULL|    4|
|     Healthcare|  183|
|        Finance|  284|
|          Media|   95|
|           Food|  141|
|             HR|   66|
|      Marketing|  139|
|       Hardware|   17|
|   Construction|   16|
|        Product|   35|
|     Recruiting|   28|
|  Manufacturing|    2|
|      Logistics|   41|
|Crypto Currency|    2|
|       Consumer|  118|
| CryptoCurrency|    1|
|       Security|   74|
|      Aerospace|    6|
+---------------+-----+

In [57]:
layoff_table_spark = layoff_table_spark.where(layoff_table_spark["industry"] != "NULL")

#### changing null values to 0

In [59]:
layoff_table_spark = layoff_table_spark.withColumn(
    "total_laid_off", when(col("total_laid_off") == "NULL", "0").otherwise(col("total_laid_off")))

In [60]:
layoff_table_spark = layoff_table_spark.withColumn(
    "percentage_laid_off", when(col("percentage_laid_off") == "NULL", "0").otherwise(col("percentage_laid_off")))

In [61]:
layoff_table_spark.show(50)

+--------------------+----------------+--------------+--------------+-------------------+---------+--------+--------------+---------------------+
|        company_name|        location|      industry|total_laid_off|percentage_laid_off|     date|   stage|       country|funds_raised_millions|
+--------------------+----------------+--------------+--------------+-------------------+---------+--------+--------------+---------------------+
|          BigBear.ai|       Baltimore|          Data|             0|               0.07| 9/8/2022|Post-IPO| United States|                  200|
|      Genome Medical|     SF Bay Area|    Healthcare|            23|                  0| 9/8/2022|Series C| United States|                  120|
|      Pomelo Fashion|         Bangkok|        Retail|            55|               0.08| 9/8/2022| Unknown|      Thailand|                  120|
|           GoStudent|          Vienna|     Education|           200|                  0| 9/8/2022|Series D|       Austria|                  686|
|       Lido Learning|          Mumbai|     Education|             0|                  1| 9/9/2022|Series C|         India|                   20|
|             Flowhub|          Denver|        Retail|             0|               0.15| 9/9/2022| Unknown| United States|                   45|
|   DreamBox Learning|         Seattle|     Education|             0|                  0| 9/9/2022|Acquired| United States|                  175|
|          CommonBond|   New York City|       Finance|             0|                  1| 9/9/2022|Series D| United States|                  125|
|             Capiter|           Cairo|       Finance|             0|                  0| 9/9/2022|Series A|         Egypt|                   33|
|         Amber Group|       Hong Kong|        Crypto|             0|                0.1| 9/9/2022|Series B|     Hong Kong|                  328|
|             Patreon|     SF Bay Area|         Media|             5|                  0| 9/9/2022|Series F| United States|                  413|
|             Brighte|          Sydney|        Energy|            58|                  0| 9/9/2022|Series C|     Australia|                  145|
|       SkipTheDishes|        Winnipeg|          Food|           350|                  0| 9/9/2022|Acquired|        Canada|                    6|
|                Sama|     SF Bay Area|          Data|             0|                  0|9/12/2022|Series B| United States|                   84|
|     Rent the Runway|   New York City|        Retail|             0|               0.24|9/12/2022|Post-IPO| United States|                  526|
|              Karbon|     SF Bay Area|         Other|             0|               0.23|9/12/2022|Series B| United States|                   91|
|             Compete|        Tel Aviv|            HR|            11|               0.28|9/12/2022|Series A|        Israel|                   17|
|      Mode Analytics|     SF Bay Area|          Data|            25|                  0|9/12/2022|Series D| United States|                   81|
|              Quicko|       Sao Paulo|Transportation|            60|                  0|9/12/2022|Acquired|        Brazil|                   28|
|              Propzy|Ho Chi Minh City|   Real Estate|             0|                  1|9/13/2022|Series A|       Vietnam|                   33|
|           FullStory|         Atlanta|     Marketing|             0|               0.12|9/13/2022| Unknown| United States|                  197|
|             Patreon|     SF Bay Area|         Media|            80|               0.17|9/13/2022|Series F| United States|                  413|
|             Taboola|   New York City|     Marketing|           100|               0.06|9/13/2022|Post-IPO| United States|                  445|
|        Checkout.com|          London|       Finance|           100|               0.05|9/13/2022|Series D|United Kingdom|                 1800|
|              Rubius|          Boston|    Healthcare|           160|               0.75|9/13/2022|Post-IPO| United States|                  445|
|             Bitrise|        Budapest|Infrastructure|             0|               0.14|9/14/2022|Series C|       Hungary|                   83|
|             Netflix|     SF Bay Area|         Media|            30|                  0|9/14/2022|Post-IPO| United States|               121900|
|              Infarm|          Berlin|         Other|            50|               0.05|9/14/2022|Series D|       Germany|                  604|
|               Pitch|          Berlin|     Marketing|            59|                0.3|9/14/2022|Series B|       Germany|                  137|
|              Twilio|     SF Bay Area|         Other|           800|               0.11|9/14/2022|Post-IPO| United States|                  614|
|            NextRoll|     SF Bay Area|     Marketing|             0|               0.07|9/15/2022| Unknown| United States|                  108|
|              DayTwo|     SF Bay Area|    Healthcare|             0|                  0|9/15/2022|Series B| United States|                   90|
|            WorkRamp|     SF Bay Area|            HR|            35|                0.2|9/15/2022|Series C| United States|                   67|
|               Acast|       Stockholm|         Media|            70|               0.15|9/15/2022|Post-IPO|        Sweden|                  126|
|          LivePerson|   New York City|       Support|           193|               0.11|9/15/2022|Post-IPO| United States|                   42|
|           TrueLayer|          London|       Finance|            40|                0.1|9/16/2022|Series E| United States|                  271|
|               Clear|       Bengaluru|       Finance|           190|                0.2|9/16/2022|Series C|         India|                  140|
|              Shopee|         Jakarta|          Food|             0|                  0|9/18/2022| Unknown|     Indonesia|                    0|
|            VideoAmp|     Los Angeles|     Marketing|             0|               0.02|9/19/2022|Series F| United States|                  456|
|Vesalius Therapeu...|          Boston|    Healthcare|            29|               0.43|9/19/2022|Series B| United States|                   75|
|                 Ola|       Bengaluru|Transportation|           200|                  0|9/19/2022|Series J|         India|                 5000|
|              Zappos|       Las Vegas|        Retail|             0|               0.04|9/20/2022|Acquired| United States|                   62|
|              Ouster|     SF Bay Area|Transportation|             0|                0.1|9/20/2022|Post-IPO| United States|                  282|
|                  99|       Sao Paulo|Transportation|            75|               0.02|9/20/2022|Acquired|        Brazil|                  244|
|                 Ada|         Toronto|       Support|            78|               0.16|9/20/2022|Series C|        Canada|                  190|
|            Curative|     Los Angeles|    Healthcare|           109|                  0|9/20/2022|    Seed| United States|                    8|
|             Compass|   New York City|   Real Estate|           271|                  0|9/20/2022|Post-IPO| United States|                 1600|
|      Candidate Labs|     SF Bay Area|            HR|             0|                  0|9/21/2022|    Seed| United States|                    5|
|          Kitty Hawk|     SF Bay Area|     Aerospace|           100|                  1|9/21/2022| Unknown| United States|                    1|
|            Made.com|          London|        Retail|             0|               0.35|9/22/2022|Series D|United Kingdom|                  136|
+--------------------+----------------+--------------+--------------+-------------------+---------+--------+--------------+---------------------+
only showing top 50 rows

In [65]:
#inspecting actual date values
layoff_table_spark.show()

+-----------------+----------------+--------------+--------------+-------------------+---------+--------+-------------+---------------------+
|     company_name|        location|      industry|total_laid_off|percentage_laid_off|     date|   stage|      country|funds_raised_millions|
+-----------------+----------------+--------------+--------------+-------------------+---------+--------+-------------+---------------------+
|       BigBear.ai|       Baltimore|          Data|             0|               0.07| 9/8/2022|Post-IPO|United States|                  200|
|   Genome Medical|     SF Bay Area|    Healthcare|            23|                  0| 9/8/2022|Series C|United States|                  120|
|   Pomelo Fashion|         Bangkok|        Retail|            55|               0.08| 9/8/2022| Unknown|     Thailand|                  120|
|        GoStudent|          Vienna|     Education|           200|                  0| 9/8/2022|Series D|      Austria|                  686|
|    Lido Learning|          Mumbai|     Education|             0|                  1| 9/9/2022|Series C|        India|                   20|
|          Flowhub|          Denver|        Retail|             0|               0.15| 9/9/2022| Unknown|United States|                   45|
|DreamBox Learning|         Seattle|     Education|             0|                  0| 9/9/2022|Acquired|United States|                  175|
|       CommonBond|   New York City|       Finance|             0|                  1| 9/9/2022|Series D|United States|                  125|
|          Capiter|           Cairo|       Finance|             0|                  0| 9/9/2022|Series A|        Egypt|                   33|
|      Amber Group|       Hong Kong|        Crypto|             0|                0.1| 9/9/2022|Series B|    Hong Kong|                  328|
|          Patreon|     SF Bay Area|         Media|             5|                  0| 9/9/2022|Series F|United States|                  413|
|          Brighte|          Sydney|        Energy|            58|                  0| 9/9/2022|Series C|    Australia|                  145|
|    SkipTheDishes|        Winnipeg|          Food|           350|                  0| 9/9/2022|Acquired|       Canada|                    6|
|             Sama|     SF Bay Area|          Data|             0|                  0|9/12/2022|Series B|United States|                   84|
|  Rent the Runway|   New York City|        Retail|             0|               0.24|9/12/2022|Post-IPO|United States|                  526|
|           Karbon|     SF Bay Area|         Other|             0|               0.23|9/12/2022|Series B|United States|                   91|
|          Compete|        Tel Aviv|            HR|            11|               0.28|9/12/2022|Series A|       Israel|                   17|
|   Mode Analytics|     SF Bay Area|          Data|            25|                  0|9/12/2022|Series D|United States|                   81|
|           Quicko|       Sao Paulo|Transportation|            60|                  0|9/12/2022|Acquired|       Brazil|                   28|
|           Propzy|Ho Chi Minh City|   Real Estate|             0|                  1|9/13/2022|Series A|      Vietnam|                   33|
+-----------------+----------------+--------------+--------------+-------------------+---------+--------+-------------+---------------------+
only showing top 20 rows

#### changing datatypes

In [78]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, DateType
schema = StructType([
    StructField("company_name", StringType(), nullable=True),
    StructField("location", StringType(), nullable=True),
    StructField("industry", StringType(), nullable=True),
    StructField("total_laid_off", IntegerType(), nullable=True),
    StructField("percentage_laid_off", FloatType(), nullable=True),
    StructField("stage",StringType(),nullable=True),
    StructField("country", StringType(), nullable=True),
    StructField("company_name", StringType(), nullable=True),
    StructField("funds_raised_millions", IntegerType(), nullable=True),
        StructField("date", DateType(), nullable=True)

])

In [79]:
layoff_table_spark.printSchema()

root
 |-- company_name: string (nullable = true)
 |-- location: string (nullable = true)
 |-- industry: string (nullable = true)
 |-- total_laid_off: string (nullable = true)
 |-- percentage_laid_off: string (nullable = true)
 |-- date: string (nullable = true)
 |-- stage: string (nullable = true)
 |-- country: string (nullable = true)
 |-- funds_raised_millions: string (nullable = true)

#### converting to dynamic frame and saving the file

In [80]:
from awsglue.dynamicframe import DynamicFrame

In [81]:
dyf=DynamicFrame.fromDF(layoff_table_spark,glueContext,"dyf")

In [83]:
glueContext.write_dynamic_frame.from_options(
    frame=dyf,connection_type ="s3",
    connection_options={"path":"s3://samplebucketawsreq/tempdir/"},
    format="csv")

<awsglue.dynamicframe.DynamicFrame object at 0x7f0379de8640>